{% extends "pages/template/template.html" %} {% block title %} BAZAR X CONTACT {% endblock %} {% block content %} {% load static %}
<form id="frm-contact" method="POST" enctype="multipart/form-data" action="/save-contact-info">{% csrf_token %}
    <div style="margin: 10px;max-width: 1400px;">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="txt-nombres">RUT</label>
                <input type="text" class="form-control" id="txt-rut" name="rut">
            </div>
            <div class="form-group col-md-3">
                <label for="txt-nombres">NOMBRES</label>
                <input type="text" class="form-control" id="txt-nombres" name="nombres">
            </div>
            <div class="form-group col-md-3">
                <label for="txt-apellido-paterno">APELLIDO PATERNO</label>
                <input type="text" class="form-control" id="txt-apellido-paterno" name="apellido-paterno">
            </div>
            <div class="form-group col-md-3">
                <label for="txt-apellido-materno">APELLIDO MATERNO</label>
                <input type="text" class="form-control" id="txt-apellido-materno" name="apellido-materno">
            </div>
            <div class="form-group col-md-8">
                <label for="txt-email">EMAIL</label>
                <input type="email" class="form-control" id="txt-email" name="email">
            </div>
            <div class="form-group col-md-4">
                <label for="txt-telefono">TELEFONO</label>
                <input type="tel" class="form-control" id="txt-telefono" name="telefono">
            </div>
            <div class="form-group col-md-12">
                <label for="txt-adjunto">ADJUNTO</label>
                <input type="file" class="form-control" id="txt-adjunto" name="adjunto">
            </div>
            <div class="form-group col-md-12">
                <label for="txt-asunto">ASUNTO CONTACTO</label>
                <textarea type="text" class="form-control" id="txt-asunto" name="asunto"></textarea>
            </div>
        </div>
        <div class="form-row">
            <button type="button" class="btn btn-primary" onclick="enviar()">ENVIAR</button>
        </div>
        <div id="message-error" class="form-row" style="margin: 10px;">
            {% if msg_success_contact != '' %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <div id="message"> {{msg_success_contact}} </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %} {% if msg_error_contact != '' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <div id="message"> {{msg_error_contact}} </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
        </div>
    </div>

</form>
<script src="{% static 'js/utility/format-email.js' %}"></script>
<script src="{% static 'js/utility/form-util.js' %}"></script>
<script src="{% static 'js/utility/string-util.js' %}"></script>
<script src="{% static 'js/utility/max-text.js' %}"></script>
<script src="{% static 'js/utility/empty.js' %}"></script>
<script src="{% static 'js/validate/contact-form-validate.js' %}"></script>
{% endblock %}