{% extends "pages/template/template.html" %} {% block title %} BAZAR X GALLERY {% endblock %} {% block content %} {% load static %}

<figure class="figure">
    <img src="{% static 'img/gallery/9821436358333398879.png' %}" class=" figure-img img-fluid rounded " alt="... ">
    <figcaption class="figure-caption ">A caption for the above image.</figcaption>
</figure>
<figure class="figure ">
    <img src="{% static 'img/gallery/coleccion-partes-cuerpo-humano-esbozado-enmarcadas-pared_53876-65864.jpg' %}" class="figure-img img-fluid rounded " alt="... ">
    <figcaption class="figure-caption ">A caption for the above image.</figcaption>
</figure>
<figure class="figure ">
    <img src="{% static 'img/gallery/hombres-mujeres-visitando-museo-o-galeria-arte-ilustracion_1262-18948.jpg' %}" class="figure-img img-fluid rounded " alt="... ">
    <figcaption class="figure-caption ">A caption for the above image.</figcaption>
</figure>
<figure class="figure ">
    <img src="{% static 'img/gallery/marcos-divertidos_23-2147569906.jpg' %}" class="figure-img img-fluid rounded " alt="... ">
    <figcaption class="figure-caption ">A caption for the above image.</figcaption>
</figure>
<figure class="figure ">
    <img src="{% static 'img/gallery/pared-ladrillo-realista_1284-4683.jpg' %}" class="figure-img img-fluid rounded " alt="... ">
    <figcaption class="figure-caption ">A caption for the above image.</figcaption>
</figure>

{% endblock %}