{% extends "pages/template/template.html" %} {% block title %} BAZAR X GALLERY CARD {% endblock %} {% block content %} {% load static %}
<div class="row">
    <div class="card w-50">
        <img src="{% static 'img/gallery/9821436358333398879.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card w-50">
        <img src="{% static 'img/gallery/coleccion-partes-cuerpo-humano-esbozado-enmarcadas-pared_53876-65864.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card">
        <img src="{% static 'img/gallery/hombres-mujeres-visitando-museo-o-galeria-arte-ilustracion_1262-18948.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card">
        <img src="{% static 'img/gallery/interior-galeria_1284-12766.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card">
        <img src="{% static 'img/gallery/marcos-divertidos_23-2147569906.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card">
        <img src="{% static 'img/gallery/pared-ladrillo-realista_1284-4683.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    {% endblock %}