{% extends "pages/template/template.html" %} {% block title %} BAZAR X SUBJECT {% endblock %} {% block content %} {% load static %}

<p></p>
{% if message_delete_error != '' %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <div id="message"> {{message_delete_error}} </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
<table class="table">
    <caption>LISTA DE USUARIOS</caption>
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">RUT</th>
            <th scope="col">NOMBRES</th>
            <th scope="col">APELLIDO PATERNO</th>
            <th scope="col">APELLIDO MATERNO</th>
            <th scope="col">EMAIL</th>
            <th scope="col">TELEFONO</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {%if clients %} {% for client in clients %}
        <tr>
            <th>{{client.id}}</th>
            <td>{{client.rut}}</td>
            <td>{{client.names}}</td>
            <td>{{client.last_name}}</td>
            <td>{{client.second_last_name}}</td>
            <td>{{client.email}}</td>
            <td>{{client.phone}}</td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-{{client.id}}-view">VIEW</button>

                <div class="modal" id="modal-{{client.id}}-view">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title">Asuntos</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <table id="classTable" class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>ID</th>
                                            <th>ASUNTO</th>
                                            <th>IMAGEN</th>
                                            <th>REGISTRO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if contact_informations %} {% for contact_information in contact_informations %} {% if contact_information.client.id == client.id %}
                                        <tr>
                                            <th>{{contact_information.id}}</th>
                                            <th>{{contact_information.subject}}</th>
                                            <th>
                                                {% if contact_information.attached %}
                                                <a target="_blank" href="{{contact_information.attached}}"><img src="{{contact_information.attached}} " width="150px " height="150px " /></a> {% endif %}
                                            </th>
                                            <th>{{contact_information.register}}</th>
                                        </tr>
                                        {% endif%} {% endfor %} {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-{{client.id}}-delete">DELETE</button>

                <div class="modal" id="modal-{{client.id}}-delete">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title">ELIMINAR CLIENTE</h4>
                                <button type="button" class="close " data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>Al seleccionar esta opción se eliminarán los datos de contacto y la del cliente. ¿Desea eliminar los datos?</p>
                                <button type="button" class="btn btn-primary" onclick="delete_client({{client.id}}) ">OK</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">CANCEL</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %} {% endif %}
    </tbody>
</table>
<script src="{% static 'js/validate/subject-validate.js' %} "></script>

{% endblock %}